.h1{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 31px !important;
	line-height: 30px !important;
}
.h2{
	font-family: 'Roboto', sans-serif;	
}
.h3{
	font-family: 'Roboto', sans-serif;
	font-size: 28px !important;
}
.h4{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 25px !important;
}
.h5{
	font-family: 'Roboto', sans-serif;
	font-size: 15px !important;
	font-weight: 400;
}
.h6{
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400;	
}
.h7{
	font-size: 20px;
}
.h8{
	font-size: 18px;
}
.h9{
	font-size: 12px;
}
.fw300{
	font-weight: 300;
}
.fw400{
	font-weight: 400;
}
.fw500{
	font-weight: 500;
}
.fw600{
	font-weight: 600;
}

/*font-family: 'Roboto', sans-serif;*/
.font-white{
	color: #fff !important;
}
.font-dark333{
	color: #333333 !important;
}
.font-blue{
	color: #2842B0 !important;
}
.font-gray7a{
	color: #A7A7A7 !important;
}
.font-gray7{
	color: #777777 !important;
}
.font-gray9{
	color: #999999 !important;
}
.font-dark222{
	color: #222222 !important;
}
.font-dark999{
	color: #999999 !important;
}