@font-face {
	font-family: Pompadur;
	src: url(../fonts/GothamPro-Black.ttf);
}
@font-face {
	font-family: Pompadur;
	src: url(../fonts/GothamPro-BlackItalic.ttf);
}
@font-face {
	font-family: GP-Bold;
	src: url(../fonts/GothamPro-Bold.ttf);
}
@font-face {
	font-family: GP-BoldItalic;
	src: url(../fonts/GothamPro-BoldItalic.ttf);
}
@font-face {
	font-family: GP-Italic;
	src: url(../fonts/GothamPro-Italic.ttf);
}
@font-face {
	font-family: GP-Light;
	src: url(../fonts/GothamPro-Light.ttf);
}
@font-face {
	font-family: GP-LightItalic;
	src: url(../fonts/GothamPro-LightItalic.ttf);
}
@font-face {
	font-family: GP-Medium;
	src: url(../fonts/GothamPro-Medium.ttf);
}
@font-face {
	font-family: GP-MediumItalic;
	src: url(../fonts/GothamPro-MediumItalic.ttf);
}
@font-face {
	font-family: GP;
	src: url(../fonts/GothamPro.ttf);
}
h1{

}
h2{
	
}
h3{

}
h4{
	
}
h5{
	
}
h6{
	
}
.font-white{
	color: #fff;
}
.font-dark333{
	color: #333333;
}
.font-blue{
	color: #2842B0;
}
.font-gray7a{
	color: #A7A7A7;
}
.font-gray7{
	color: #777777;
}
.font-dark222{
	color: #222222;
}